<?xml version="1.0"?>

<launch>
  <arg name="goby_config" default="$(find alpha_comms)/config/goby.yaml"/>
  <arg name="driver_config" default="$(find alpha_comms)/config/seatrac.yaml"/>
  <arg name="robot_name" value="race"/>

  <node ns="$(arg robot_name)" pkg="alpha_comms" type="modem_node" name="modem_node" output="screen">
    <rosparam command="load" file="$(arg goby_config)"/>
    <rosparam command="load" file="$(arg driver_config)"/>
    
    <param name="type" value="modem"/>

  </node>

  <!-- <node ns="$(arg robot_name)" pkg="alpha_comms" type="alpha_acomms_node" name="alpha_acomms_vehicle_node" output="screen">
    <rosparam command="load" file="$(arg goby_config)"/> 
    <param name="type" value="modem"/>

  </node> -->
  

</launch>
