<?xml version="1.0"?>

<launch>
  <arg name="goby_config" default="$(find mvp_comms)/config/goby.yaml"/>
  <arg name="driver_config" default="$(find mvp_comms)/config/evologics.yaml"/>
  <arg name="robot_name" value="alpha_rise"/>

  <node ns="$(arg robot_name)" pkg="mvp_comms" type="modem_node" name="modem_node" output="screen">
    <rosparam command="load" file="$(arg goby_config)"/>
    <rosparam command="load" file="$(arg driver_config)"/>
    
    <param name="type" value="modem"/>

  </node>

  <node ns="$(arg robot_name)" pkg="mvp_comms" type="alpha_acomms_node" name="alpha_acomms_vehicle_node" output="screen">
    <rosparam command="load" file="$(arg goby_config)"/> 
    <param name="type" value="modem"/>

  </node>
  

</launch>
