<?xml version="1.0"?>

<launch>
  <arg name="goby_config" default="$(find alpha_comms)/config/goby.yaml"/>
  <arg name="driver_config" default="$(find alpha_comms)/config/evologics.yaml"/>
  <arg name="robot_name" value="test"/>

  <node ns="$(arg robot_name)" pkg="alpha_comms" type="alpha_acomms_node" name="alpha_acomms_topside_node" output="screen">
    <rosparam command="load" file="$(arg goby_config)"/> 
    <param name="type" value="test"/>

  </node>

  <node ns="$(arg robot_name)" pkg="alpha_comms" type="test_node" name="test_node" output="screen"></node>


</launch>