<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Jason Miller
    Email: jason_miller@uri.edu
    Year: 2023

    Copyright (C) 2022 Smart Ocean Systems Laboratory
-->
<launch>

    <node ns="alpha" name="seatrac_test_driver" pkg="seatrac" type="seatrac_test_driver"  output="screen"> </node>


</launch>